body{
    font-family: 'Azeret Mono', monospace;
}

.navbar{
    background-color: #fff;
}

.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}

.container-fluid{
    margin: 0 7.5em;
}

.button-checkup{
    margin: 0 0 0 3em;
}

.first{
    background-image: linear-gradient(to bottom right, #8421c8, #5728b5);
    color: white;
    padding-top: 4em;
    padding-bottom: 2em;
    width: 100%;
}

h1{
    font-weight: bold;
    font-size: 4rem;
}

h2{
    font-size: 0.5rem;
    font-weight: bold;
}

.content{
    align-items: center;
    margin: 0 7.5em 0 7.5em;
    
}

.btn-chat{
    padding: 1em 2em;
    background-color: #e71eae;
    
}

.success{
    color: #e71eae;
}



.Testimonials{
    padding: 2.5em 7em;
    background-color: #fff;
    border-radius: 15px;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 38rem;
    left: 10%;
    text-align: center;
}

.info-stats{
    background-image: linear-gradient(to bottom right, #fcfcfe, #f8f4fd);
    
}

.info-stats h1 , h2{
    font-size: 3rem;
    padding-top: 6em;
    font-weight: 700;
    
}

h2{
    font-size: 2.2rem;
}



@media (max-width: 1200px) {

    .button-checkup{
        margin: 0;
    }
    .content{
        text-align: center;
    }
    .content , .container-fluid{
        margin: 0 3em 0 3em;

    }

    .logo img{
        width: 20%;
    }

    .Testimonials{
        left: 3rem;
        right: 3rem;
    }

    .numbers h2{
        font-size: 2.5rem;
    }

    .info-stats h2{
        font-size: 1rem;
        padding-top: 4rem;
    }
}

@media (max-width: 992px){
   .numbers h2{
       font-size: 2rem;
   }
   .Testimonials{
       text-align: center;
       top: 50rem;
       left:1rem;
       right: 1rem;
   }
   .model-img img{
       width: 60%;
   }
}

@media (max-width: 576px){
    .Testimonials{
        top: 35rem;
        padding: 2em 2em;

    }
    h1{
        font-size: 2rem;
    }

    .info-stats h1{
        font-size: 1.5rem;
    }

    h4{
        font-size: 1rem;
        
    }
}
